@page "/customer-form"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json;
@using OnlineStore.Server.Data.Repositories
@using OnlineStore.Server.Model;
@inject CustomersRepository customersRepo;
@inject NavigationManager Navigation;

<h3>Customer Form</h3>


<EditForm Model="customer" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="FullName">Full Name:</label>
        <InputText id="FullName" class="form-control" @bind-Value="customer.FullName" />
        <ValidationMessage For="@(() => customer.FullName)" />
    </div>

    <div class="form-group">
        <label for="Email">Email:</label>
        <InputText id="Email" class="form-control" @bind-Value="customer.Email" />
        <ValidationMessage For="@(() => customer.Email)" />
    </div>

    <div class="form-group">
        <label for="Address">Address:</label>
        <InputText id="Address" class="form-control" @bind-Value="customer.Address" />
        <ValidationMessage For="@(() => customer.Address)" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private Customer customer = new Customer();
    private Customer? customerToLog = null;

    private async void HandleValidSubmit()
    {
        Customer? customerToLog = await customersRepo.FindAsync(c => c.FullName == customer.FullName &&
                                                      c.Email == customer.Email &&
                                                      c.Address == customer.Address);
        if (customerToLog == null)
        {
            customerToLog = customer;
            await customersRepo.CreateAsync(customer);
        }

        var customerJson = JsonSerializer.Serialize(customer);
        var encodedCustomerJson = Uri.EscapeDataString(customerJson);

        Navigation.NavigateTo($"/store?customer={encodedCustomerJson}");
    }
}
