@page "/counter"
@using OnlineStore.Server.Data.Repositories
@using OnlineStore.Server.Model
@inject ProductsRepository productsRepo


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@if (products == null)
{
    <p><em>Loading products...</em></p>
}
else
{
    <ul>
        @foreach (var product in products)
        {
            <li>@product.Name - @product.Price</li>
        }
    </ul>
}

@code {
    private int currentCount = 0;
    private ICollection<Product> products;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        // Fetch products when the component is initialized
        products = await productsRepo.ReadAllAsync();
    }
}
